
<h3>Change Password</h3>
<form class="form-group" [formGroup]="changePasswordForm" (ngSubmit) ="changePassword()">
    <div *ngIf = "infoMessage !=''" class="alert alert-success">
        {{infoMessage}}
      </div>
      <div *ngIf = "errorMessage !=''" class="alert alert-danger">
        {{errorMessage}}
      </div>
<div>
    <label for="old-password">Old Password</label>
    <input type="password" name="old-password" id="old-password"
            placeholder="Enter Your Old Password"
            class="form-control" formControlName="oldPassword">
            <div
            *ngIf="changePasswordForm.controls['oldPassword']?.invalid && (changePasswordForm.controls['oldPassword'].dirty || changePasswordForm.controls['oldPassword']?.touched)"
            class="alert alert-danger">
            <div *ngIf="changePasswordForm.controls['oldPassword'].errors?.required">
              password is required.
            </div>
            <div *ngIf="changePasswordForm.controls['oldPassword'].errors?.minlength">
              password should be atleast of 6 length
            </div>
          </div>

</div>

<div>
    <label for="new-password">New Password</label>
    <input type="password" name="new-password" id="new-password"
            placeholder="Enter Your New Password"
            class="form-control" formControlName="newPassword">
            <div
            *ngIf="changePasswordForm.controls['newPassword']?.invalid && (changePasswordForm.controls['newPassword'].dirty || changePasswordForm.controls['newPassword']?.touched)"
            class="alert alert-danger">
            <div *ngIf="changePasswordForm.controls['newPassword'].errors?.required">
              password is required.
            </div>
            <div *ngIf="changePasswordForm.controls['newPassword'].errors?.minlength">
              password should be atleast of 6 length
            </div>
          </div>
</div>

<div id="addbtn">
<button type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-primary">Update</button>
</div>
</form>
